<ysvgmaps-tooltip>
	<div class="ysvgmaps-tooltip" style='visibility: { visible  }; top: { top }; left: { left }'>
    <span class="ysvgmaps-tooltip-value"> { value  } </span>
    <p class="ysvgmaps-tooltip-datadesc"> { datadesc } </p>
		<div class="ysvgmaps-tooltip-borderline"></div>
    <p class="ysvgmaps-tooltip-descsvg"> { svgdesc  } </p>
	</div>
  <script>
  const contextparent = this.parent.parent.store
	this.visible = 'hidden'
  this.top = '0px'
  this.left = '0px'
	this.value = 0
  this.datadesc = 'none'
  this.svgdesc = 'none'
  
  this.height = 0
  this.width = 0

  this.on('update', () => {
    switch (contextparent.getState().tooltip.status) {
      case 'visible':
        this.visible = 'visible'
          this.display(contextparent.getState().tooltip.poly)	
          break;
      case 'hidden':
        this.visible = 'hidden'
          break;
    }
  })
  display (poly) {
    const OUTLINE_AREA = poly.tag.getBoundingClientRect()
    
    this.height = this.root.querySelector('.ysvgmaps-tooltip').offsetHeight
    this.width = this.root.querySelector('.ysvgmaps-tooltip').offsetWidth
    
    this.top  = (OUTLINE_AREA.top -  this.height) + 'px'
    this.left = (OUTLINE_AREA.left + ( OUTLINE_AREA.width - this.width ) / 2) + 'px'
    if (this.top.substring(0, this.top.length - 2 ) < 0) {
      this.top  = (OUTLINE_AREA.bottom) + 'px'
    }
    if (this.left.substring(0, this.left.length - 2) < 0) {
      this.left = '1px'
    }

    this.value = poly.value
    this.datadesc =  poly.data_desc
    this.svgdesc = poly.desc_svg
  }
  </script>
</ysvgmaps-tooltip>
