<ysvgmaps-map>
<ysvgmaps-tooltip></ysvgmaps-tooltip>
<div class="ysvgmaps-map-image"></div>
<ysvgmaps-legend title="{ legend_title }" legends="{ legends }"></ysvgmaps-legend>

<script>
  import 'fetch-everywhere'
  import 'es6-promise'
  import * as constante from '../config'
  import Area from '../models/Area'
  import Data from '../models/Data.js'

  const context = this.root
  const contextparent = this.parent.store
  const areas = []
  const tag = this
  tag.legend_title = ""
  tag.legends = []


  function findColorInterval(value) {
    const legend = contextparent.getState().config.data.legend
    var end = false
    var i = -1
    var color

    if (value == undefined) {
      end = true
      i = 0
    }
    while (!end) {
      i++
      if (value < legend.parts[i]['interval'] || i === legend.parts.length - 1) {
        end = true
      }
    }
    color = legend.parts[i]['color']
    
    return color
  }

  function update () {
    const data = contextparent.getState().data.data
    areas.forEach( (area) => {
      var v = data[area.id]
      if (v != area.value) {
        area.value = v 
        area.color_out = findColorInterval(v)
        area.fill(false)
      }
    })
    contextparent.dispatch( { type: 'END_DATA' } )
  }

  function fill () {
    const data = contextparent.getState().data.data
    const polygons = context.querySelectorAll(contextparent.getState().config.data.map.nameOfArea)
    const selectedcolor = contextparent.getState().config.data.map.selectedcolor
    const datadesc = contextparent.getState().config.data.map.datadesc
    polygons.forEach((poly) => {
      let end = false
      let i = 0
      let datap = data[poly.getAttribute('id')]
      let color = findColorInterval(datap)
      areas.push(new Area(contextparent, poly, context, datap, poly.getAttribute('desc'),
            datadesc, color, selectedcolor))
    })
    contextparent.dispatch( { type: 'END_DATA', data } )
  }

  function setSVG () {
    const path = contextparent.getState().config.data.map.url
      const element = context.querySelector('.ysvgmaps-map-image')

      fetch(path)
      .then(function(response) {
        if (!response.ok) {
          contextparent.dispatch({ type: "FAIL_LOAD_SVG" })
            throw new Error('Bad response from server : ' + path + ' cannot be loaded.')
        }
        return response.text()
      })
    .then(function(body) {
      element.innerHTML = body
        fill()
    })
  }

function makeLegend(legend, data) {
  
  if (legend.automaticalysetlegend) {
    legend.parts = []
    const nb = legend.colors.length
    const nb_data = Object.keys(data).length
    const interval = parseInt(nb_data / (nb + 1), 10)
    var listData = []
    var index = 0
    for (var key in data) {
      listData.push(new Data(key, data[key]))
    }
    listData.sort( (a, b) => {
      return a.quantity - b.quantity
    })
    console.log(legend)
    console.log(legend.parts)
    for ( var i = 0; i < nb; i++ ) {
      index += interval
      legend.parts.push( { "interval": listData[index].quantity, "color": legend.colors[i] } )
    }
  }
  tag.legends = legend.parts  
}

  this.on("update", function(){
    switch (contextparent.getState().config.status) {
      case 'loaded':
        console.log(contextparent.getState())
        const path = this.parent.root.getAttribute('config')
        tag.legend_title =  contextparent.getState().config.data.legend.title
        tag.parent.root.querySelector('.ysvgmaps-header-title').innerHTML = contextparent.getState().config.data.map.title
        contextparent.dispatch( { type: 'END_CONFIG'  } )
        contextparent.dispatch( { type: 'LOAD_DATA', path: contextparent.getState().config.data.map.data, store: contextparent } )
        break;
    }
    switch (contextparent.getState().data.status) {
      case 'loaded':
        makeLegend(contextparent.getState().config.data.legend, contextparent.getState().data.data)
        setSVG()
        break;
      case 'updating':
        update()
        break;
    }
  })

</script>
</ysvgmaps-map>
