<ysvgmaps>
<div class='ysvgmaps-header'>
  <p class='ysvgmaps-header-title'></p>
  <ysvgmaps-date></ysvgmaps-date>
</div>

<div class='ysvgmaps-body' >
  <ysvgmaps-map srcsvg={ srcsvg }></ysvgmaps-map>
</div>
<script>
  import { create_our_store, reducers } from '../services/store.js'
  
  var tag = this

  const store = create_our_store(reducers, opts.config)
  tag.store = store
  tag.store.dispatch( { type: 'LOAD_CONFIG', store: tag.store, path: tag.opts.config } )
</script>
</ysvgmaps>
