<ysvgmaps-legend>
  <div class="ysvgmaps-legend-title">{ opts.title }</div>
  <div class="ysvgmaps-legend-parts">
    <div class="ysvgmaps-legends-parts-part" each={ part , i in opts.legends }>
        <div class="ysvgmaps-legend-parts-part-color" style="background-color:{ part.color }"></div>
        <span class="ysvgmaps-legend-parts-part-desc">{ part.interval }</span>
    </div>
  </div>
</ysvgmaps-legend>

<script>
</script>

