ysvgmaps-legend, ysvgmaps-map {
  width: auto;
  height: auto;
  display: inline-block;
}

ysvgmaps-map {
  float: left;
}

ysvgmaps-legend {
  margin-top: 150px;
  margin-left: 40px;
}

.ysvgmaps-body {
  display: flex;
  align-items: center;
}

.ysvgmaps-tooltip {
  width: auto;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0E1A45;
  position: fixed;
  border-radius: 4px;
}

.ysvgmaps-tooltip-value {
  margin: auto;
  display: table;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.ysvgmaps-tooltip-datadesc {
  margin: auto;
  text-align:center;
  color: white;
  font-size: 20px;
  padding-top: 3px;
  padding-bottom:3px;
}

.ysvgmaps-tooltip-borderline {
  margin: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 85%;
  border-bottom: 1px solid white;
}

.ysvgmaps-tooltip-descsvg {
  margin: auto;
  text-align: center;
  color: white;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ysvgmaps-legend-title {
  font-weight: bold;
  padding-bottom: 3px;
  text-decoration: underline;
}

.ysvgmaps-legend-parts {
  width: 100%;
  height: 60px;
}

.ysvgmaps-legend-parts-part {
  height: auto;
  width: auto
}

.ysvgmaps-legend-parts-part-color {
  margin: 5px;
  width: 50px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.ysvgmaps-legend-parts-part-desc {
  width: 100%;
  height: 50px;
  vertical-align: middle;
}

.ysvgmaps-map-image {
  width: auto;
  height: auto;
  float: left;
  display: block;
}

.ysvgmaps-header-title {
  font-weight: bold;
  color: darkblue;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
}
